.row > .column { /* selects all elements in class= "column" where the parent element is class="row" */
    padding:0 8px;
}

.row:after {/* insert something after the content with class="row" */
    content: "";
    display:table;
    clear:both;
}
/* create three equal columns that float next to each other*/
.column {
    float:left;
    width:33.3%;
}

/* The Modal Backgroud*/
.modal {
    display:none; /* modal is always there but not always visible ( it's hidden)*/
    position:fixed; /* the position will not move it is always in the same place reguardless of other html elements */
    z-index:1; /* modal background is behind the content*/
    paddint-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:black;
}

/*Moodal Content*/
.modal-content {
    position:relative; /* position is relative to the parent element*/
    background-color:#fefefe;
    margin:auto; /* center content */
    padding:0;
    width:90%; /*width does NOT include padding or margins (% is the percentage of containing block)*/
    max-width:1200px; /* sets the max-width of an element or black and if the element is
                         larger then it will auto adjust the height*/
}

/* The Close Button */
.close {
    color:white;
    position:absolute; /*with absolute positioning , an element can be placed anywhere on a page ( this is done with top; left; bottom; right) */
    top:10px;
    right:25px;
    font-size:35px;
    font-weight:bold;
}

.close:hover,
.close:focus { /* focus: behavior when the user hovers over the close button (what happens when the close button is clicked  */
    color:#999;
    text-decoration:none;
    cursor:pointer;
}
