body {
    margin: 0;
    background:rgb(17, 17, 19);
    color:peachpuff;
}

#Stellar-Img_Container {
    position:relative;
    top:0;
    left:0;
    width: 100%;
    height:auto;
    z-index:-1;
}

#Stellar-Img_Container img {
    position:relative;
    width:100%;
    height:auto;
}

.introTextContainer {
    position:relative;
    top:0;
    left:0;
    color:peachpuff;
    z-index: 2;

.introText {
    position:absolute;

}


.Navigation{
    position:fixed;
    top:0;
    Left:0;
    width:100%;
    height:7%;
    background-color:black; 
    z-index: 1000000;
}

a {
    position:relative;
    display:block;
    top:0;
    left:0;
    float:left;
    padding:1%;
    font-size: 1.25rem;
    font-weight:bold;
    justify-content: center;
    background-color:black;
    color:white;
}

a.active {
    color:white;
    background-color:orchid;
}

.introTextOverlay h1 p {
    position:relative;
    top:15%;
    left:15%;
}


/*#About {*/
/*    position:;*/




.grid {
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    align-content: center;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    max-width:800px;
    height: 100vh;
    background-color:rgb(39, 33, 77);
   margin-bottom:5%;
}





.grid img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#Gallery {
    margin-bottom: 3%;
}

#lightbox {
    position:fixed;
    z-index:10000;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .80);
    display: none;
  
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 8px;
    background-color: black;
    border: 2px solid white;
}

#Modul-LightBox-2 {
    z-index:1;
    margin-bottom:3%;
}
/* This is The Modal LightBox Set #2 */
.thumb {
    width:300px;
    height:200px;
}

.mySLides {
   max-width:90%;
    height:auto;
}

.row {
    position:relative;
    top: 25%;
    left:3%;
    width:100%;
    height:225px;
}
.row >.column { /* selects all elements in class= "column" where the parent element is class="row" */
    padding:0 8px;
    position:relative;
    width: 30%;
    height:auto;
}

.row:after {/* insert something after the content with class="row" */
    content: "";
    display:table;
    clear:both;
}
/* create three equal columns that float next to each other*/
.column {
    float:left;
    width:30%;
}

/* The Modal Backgroud*/



#myModal {
    display:none; /* modal is always there but not always visible ( it's hidden)*/
    position:fixed; /* the position will not move it is always in the same place reguardless of other html elements */
    z-index:2; /* modal background is behind the content*/
    padding-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:black;
    
}

/*Moodal Content*/
.modal-content {
    position:relative; /* position is relative to the parent element*/
    background-color:rgba(0,0,0,0.8);
    margin:auto; /* center content */
    padding:0;
    width:90%; /*width does NOT include padding or margins (% is the percentage of containing block)*/
    max-width:1200px; /* sets the max-width of an element or block and if the element is
                         larger then it will auto adjust the height*/
    z-index:inherit;                    
                        }

/* The Close Button */
.close {
    color:white;
    position:absolute; /*with absolute positioning , an element can be placed anywhere on a page ( this is done with top; left; bottom; right) */
    top:10px;
    right:25px;
    font-size:35px;
    font-weight:bold;
}

.close:hover,
.close:focus { /* focus: behavior when the user hovers over the close button (what happens when the close button is clicked  */
    color:#999;
    text-decoration:none;
    cursor:pointer;
}

/*hide the slides by default */
.mySlides {
    display:none;
    position:fixed;
    max-width:90%;
}

/*next & Previous Buttons */
.prev,
.next {
    cursor: pointer;
    position:relative;
    bottom:50%;
    width:auto;
    padding: 16px;
    margin-top: -50%;
    color:white;
    font-weight:bold;
    font-size: 20px;
    transition:0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:none;
    -webkit-user-select:none;
}

.numbertext {
    position:absolute;
    top:100;
    left:50%;
}

/* position the "next button" to the right */

/*on hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color:rgba(0,0,0,0.8)
}

/*number text (1/3 etc) */
.numbertext {
    color:#f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top:0;
}

/* Caption Text */
.caption-container {
    text-align: center;
    background-color:black;
    padding:2px 16px;
    color:white;
}

img.demo {
    opacity:0.6;
}

.demo-container img{
    width:100%;

}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

