body {
	margin:20px;
	padding:0;
	background:#333;
}
 
#current {
	margin-bottom:10px;
}

.galley {
	width:800px;
}
.container {
	max-width:800px;/*max-width makes it responsive*/
	margin:auto; /*centers the container(picture)*/
	border:#fff solid 3px;/*border of photo container*/
	background:#fff;
}

.main-img img,
.imgs img {
	width:100%;/*width of 100% of container*/

	border:3px solid white;
	
	overflow:hidden;
}
img {
	display:block;
}
.imgs {
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-column-gap:10px;

	grid-row-gap:10px;
	grid-auto-rows: minmax(175px);
	align-items:center;


}
form {
	margin-top: 2em;
	padding: 1em;
	display: block;
	border: 2px solid black;
	border-radius: 4px;
}

label {
	font-size: 20px;
	width: 150px;
	height: 30px;
	margin: 5px;
	padding: 5px;
	text-align: right;
}

input {
	width: 80%;
	padding: 4px;
	margin: 8px 10px;
	border: 1px solid red;
	border-radius: 4px;
}

button {
	font-family: 'Arial Narrow Bold', sans-serif;
	font-size: 20px;
	width: 80%;
	height: 30px;
	margin: 8px 10px;
	padding: 4px;
}
 .row1 {
	 float:left;
 }

.privacy {
	font-size: 12px;
	color: grey;
	text-align: center;
}

.row > .column {
	padding:0 8px;
}

.row:after {
	content:"";
	display: table;
	clear:both;
}

/* create three equal columns that float next to each other*/
.column {
	float: left;
	width:30%;
}

/* the modal background*/
.modal-content {
	display:none;
	position: fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow :auto;
	background-color:black;
}


/*modal content*/
.modal-content {
	position:relative;
	background-color: #fefefe;
	margin:auto;
	padding:0;
	width:90%;
	max-width: 1200px;
}

/*the close button*/
.close {
	color:white;
	position:absolute;
	top: 10px;
	right:25px;
	font-size:35px;
	font-weight:bold;
}

.close:hover,
.close:focus {
	color:#999;
	text-decoration:none;
	cursor: pointer;
}

/* hide the slides by default */
mySlides {
	display:none;
} 

/* next & previous buttons*/
.prev,
.next {
	cursor:pointer;
	position:absolute;
	top:50%;
	width:auto;
	padding:16px;
	margin-top:-50px;
	color:white;
	font-weight:bold;
	font-size:20px;
	transition:0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select:none;
}

/* position the "next button" to the right */
.next {
	right:0;
	border-radius: 3px 0 0 3px;
}

/* on hover, add a black background color with a little bit of transparency*/
.prev:hover,
.next:hover {
	background-color:rgba(0,0,0,0.8);
}

/* number text(1/9 etc)*/
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position:absolute;
	top:0;
}

/*caption text*/
.caption-container {
	text-align:center;
	background-color:black;
	padding:2px 16px;
	color:white;
}

.photo-container {
	width:400px;
	height:200px;
}

img.demo {
	opacity:0.6;
}

.active,.demo:hover {
	opacity:1;
}

img.hover-shadow {
	transition:0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}